<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monte Carlo Risk Simulation</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="admin-link-container">
        <a href="/admin">Admin</a>
    </div>
    <div class="container">
        <h1>Welcome to Monte Carlo Risk Simulation</h1>
        <p>Explore the power of probability and decision-making.</p>
        <div class="button-container">
            <a href="/stock_simulation" class="glowing-btn">Stock / Shares Simulation</a>
            <a href="/inventory_simulation" class="glowing-btn">Inventory / Supply Chain Simulation</a>
            <a href="/real-stocks" class="glowing-btn">📊 Real Stocks</a>
        </div>
</body>
</html>